<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
      <% result.docs.forEach(function(item)
      {%>
    <li><%= "ID:" +item.id%></li>
    <li><%="FirstName:"+item.firstname%></li>
    <li><%="LastName:"+item.lastname%></li>
    <li><%="Town:"+item.town%></li>
      <%});%>
  </ul>

  </body>
</html>
